<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jspexp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<!-- 404 : 이 서버에 해당 페이지가 없을 때, 처리하는 페이지 지정 -->
<error-page>
    <error-code>404</error-code>
    <location>/a02_middle/a22_nopage.jsp</location>
</error-page>

<!-- 일반적인 클래서 단위 에러에 대한 처리
    프로그램적인 에러에 대한 처리를 서버 단위로 설정할 때 
    
	# 세부적인 예외에 따라 페이지를 지정할 수도 있다.
	1. java.lang.NullPointerException
	2. java.lang.    
-->
<error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/a02_middle/a21_errorPage.jsp</location>
</error-page>
</web-app>