<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="springweb.a02_mvc.a03_dao.A02_DeptDao">
	<select id="getCount" resultType="int" parameterType="int">
		select count(*) cnt 
		from dept 
		where deptno = #{deptno}
	</select>
	<!-- 
	<select id="getDeptList" resultType="dept" parameterType="int">
		select *
		from dept 
		where deptno = #{deptno}
	</select>
	 -->
	<select id="getDeptSal" resultType="DeptSal" parameterType="int">
		SELECT deptno, max(sal) mxsal, min(sal) misal
		FROM EMP e 
		GROUP BY DEPTNO 
		HAVING deptno = #{deptno}
	</select>
	
	<resultMap type="dept2" id="dept2Rst">
		<result column="deptno" property="no" />
		<result column="dname" property="name" />
		<result column="loc" property="location" />
	</resultMap>
	<select id="getDept2" resultMap="dept2Rst" parameterType="String">
		SELECT * 
		FROM dept 
		WHERE dname = #{dname}
	</select>
	
	<resultMap type="salgrade2" id="gradeRst">
		<result column="grade" property="level"/>
		<result column="losal" property="lowsalary"/>
		<result column="hisal" property="highsalary"/>
	</resultMap>
	<select id="getGrade" resultMap="gradeRst">
		SELECT * FROM SALGRADE
	</select>
	
	<select id="getDeptList" resultType="Dept" parameterType="Dept" >
		select *
		from dept
		where dname like '%'||#{dname}||'%'
		and loc like '%'||#{loc}||'%'	
	</select>
	<select id="insertDept" parameterType="Dept">
		insert into dept02 values(${deptno}, ${dname}, ${loc})
	</select>
</mapper>